name: climb-tre.github.io CI

on:
  push:
    branches:
      - main

permissions:
  contents: write

env:
  # Project codes
  ONYX_PROJECT_CODES: mscape,synthscape,openmgs,pathsafe,hprugretb

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate metadata specifications and templates
        run: |
          for p in ${ONYX_PROJECT_CODES//,/ }
          do
            python3 metadata/json2md.py --depth 2 uploader metadata/${p}.json >> docs/${p}.md
            python3 metadata/json2md.py --depth 1 analysis metadata/${p}-analysis.json >> docs/${p}-analysis.md
            python3 metadata/json2md.py template metadata/${p}.json > docs/${p}-template.csv
          done

      - name: Deploy site
        run: mkdocs gh-deploy --force
